/* pages */
.container {
  margin-bottom: 36px;
  margin-top: 24px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 24px;
}

.trending .filterNSearch .searchBox,
.home .filterNSearch .searchBox {
  width: 400px !important;
}

@media screen and (min-width: 768px) {

  .trending .filterNSearch .searchBox,
  .home .filterNSearch .searchBox {
    width: 600px !important;
  }
}